.background { 
    background-color: #ff5050; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    color: #ffffff;
    overflow: scroll
}

.center {
    padding-top: 200px;
}

.btn {
	margin-top: 10px;
	margin-right: 10px;
}

.question-panel {
 margin-top: 10px; 
 padding-bottom: 10px;  
}

.question-panel:hover {
background-color: #ff333a;
}

.radio {
    margin-right: 10px;
}
